RESEND_API_KEY=
RESEND_FROM=Sonar Studio <forms@sonarstudio.net>
CONTACT_TO=hello@sonarstudio.net
NEXT_PUBLIC_SITE_URL=https://sonarstudio.net
NEXT_PUBLIC_FOUNDER_NAME=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_LINKEDIN_URL=
